node_modules
server/node_modules
vue-front/public/
server/public/*
vue-front/dist
vue-front/.env.local
vue-front/.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
vue-front/.idea
vue-front/.vscode
vue-front/*.suo
vue-front/*.ntvs*
vue-front/*.njsproj
vue-front/*.sln
vue-front/*.sw*
server/.env
